
{% extends "global/BaseMotherhood.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">
        
    </h2>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>
      In this part of the experiment you will be presented with a series of two two-digit numbers (for example, 11 and 22) which you will have to add (for example, 11 + 22 = 33). 
    </p>
    <p>
      Once you have entered your summation, click the <b>Next</b> button or press the <b>Enter</b> key. 
    </p>
    <p>
      This part will last {{ player.task_timer}} seconds. 
    </p>
    <p>
        You will get <b>1 point for each correct answer</b>. 
          Your score will not decrease if you provide an incorrect answer.
    </p>

    
    <p>
        You may not use a calculator or your phone to solve these additions, but you are welcome to make use of the provided pen and paper.
    </p>

        <p><br></p>
     <p>
           After {{ player.task_timer}} seconds, the task will stop and you will receive a summary of the results.<br>
    </p>
    <p>
           Please raise your hand and alert an experimenter if you have any questions.<br>
    </p>
    <p>
           Otherwise, if you are ready, please click "Next" below to start the time and this {{ player.task_timer}} second task.<br>
    </p>
	


</div>

      {% next_button %}<br><br><br>





{% endblock %}
